testscript.py
try.py
try.ipynb
unittests
pypais.yml
table.html
data
_*
# *.png
test*.png
test*.jpg
test*.jpeg
*static/node_modules*
*static/openseadragon*
*.heic
git_workflow.sh
__pycache__/
*.pyc
*.sql
verbose_requirements.txt
export_req.sh
initialize_app_linux.sh
*.ipynb
.env