attrs
Flask
flask_babel
flask_mail
flask_talisman
flask_wtf
icecream
matplotlib
numpy
opencv_python
opencv_python_headless
pendulum
Pillow
psycopg2
pytest
rembg
Requests
rich
segmentation_models_pytorch
scikit-image
sqlmodel
torch
typing_extensions
Werkzeug
WTForms
email-validator

