gunicorn
cryptography
reportlab
dotenv
imagehash
attrs
Flask
flask_babel
flask_mail
flask_talisman
flask_wtf
flask_limiter
icecream
matplotlib
numpy
opencv_python
opencv_python_headless
pendulum
Pillow
psycopg2
pytest
# rembg
Requests
rich
segmentation_models_pytorch
scikit-image
sqlmodel
torch
typing_extensions
Werkzeug
WTForms
email-validator
apscheduler
flask_session
flask_sqlalchemy
sqlalchemy
pillow_heif