body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

.navbar{
    background-color: darkslategrey;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.column {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    display: none;
}

/* Style for the custom file input button */
.custom-file-input {
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto; 
    width: 20%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-align: center;
    line-height: 40px; 
}

/* Style for the file input label (to mimic button appearance) */
.custom-file-label {
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto; 
    width: 20%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* Change button background color on hover */
.custom-file-label:hover {
    background-color: #0056b3;
}

#defaultImage, #uploadedImage, #entropyCanvas {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#histogramCanvas, #entropyHistogramCanvas {
    width: 90%;
    max-width: 600px;
    height: 200px;
    margin: 0 auto 20px auto;
}

.slider-container {
    width: 90%;
    display: flex;
    flex-direction: column; /* Set to column to stack elements vertically */
    align-items: center;
    margin-bottom: 10px;
}

.slider-group {
    display: flex;
    justify-content: center; /* Centers the contents horizontally */
    align-items: center; /* Centers the contents vertically */
    gap: 10px; /* Adds some space between the elements */
    margin-bottom: 10px;
}

input[type="range"],
input[type="text"] {
    margin-right: 20px; /* Add spacing between slider and edit box */
    vertical-align: middle;
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
    position: absolute;
    border: 2px solid #0A0;
    border-radius: 50%;
    cursor: none;
    width: 200px; /* Adjust based on your preference */
    height: 200px;
    visibility: hidden; /* Initially hidden, shown on hover */
    pointer-events: none; /* Ignore mouse events */
    z-index: 100; /* Ensure it's above the image */
}

/* NAVBAR STYLE */
nav {
    background-color: #333;
    overflow: hidden;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

@media screen and (max-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        float: none;
    }
}

/* Style for form */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for form header */
form h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Style for form field labels */
form label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

/* Style for form input fields */
form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

/* Style for form submit button */
form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}


/* footer style */

footer {
    /* background-color: #333; */
    color: #fff;
    padding: 50px 0;
}

footer .container {
    background-color: #333;
    width: 100%;
    margin: 0 auto;
}