<!-- login.html -->

{%  extends "base.html" %}

{% block content %}
<html>
    <head>
        <title>404 Not founf PyPAIS</title>
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="icon" type="image/vnd.icon" href="/static/favicon.ico">
    </head>

    <body>
        <h1>Page not found</h1>
            <div class="column">
                <img id="defaultImage" src="/static/logo.png" alt="Default Image">
                <div class="img-magnifier-container">
                    <img id="uploadedImage" style="display:none;">
                </div>
            </div>
    </body>
</html>
{% endblock content %}



