<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}


<html>

    <head>
        <title>{{ _('User Information') }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='new_styles.css') }}">
        <link rel="icon" type="image/vnd.icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>
        <!-- First Row: Image Upload -->
        <div class="colorbar">
            <h2>{{ _('Company Information') }}</h2>
        </div>
        <div class="container">
            <div class="row modern-row">
                <div class="column modern-column">
                    <img class="profile-picture" src="{{ url_for('static', filename='avatars/gorilla.png') }}"
                        alt="Profile Picture">
                </div>
                <div class="column modern-column">
                    <table>
                        <tr>
                            <td>{{ _('Company Name: ') }}</td>
                            <td>{{ dynamic_content.company_name }}</td>
                        </tr>
                        <tr>
                            <td>{{ _('Address: ') }}</td>
                            <td>{{ dynamic_content.company_address }}</td>
                        </tr>
                        <tr>
                            <td>{{ _('Company E-mail: ') }}</td>
                            <td>{{ dynamic_content.e_mail }}</td>
                        </tr>
                    </table>
                </div>

                <div class="column modern-column">
                    <div class="row">
                        <button id="editCompanyInformationButton"
                            type=submit>{{ _('Edit company information') }}</button>
                    </div>
                    <div class="row">
                        <button id="changeCompanyEmailButton"
                            type=submit>{{ _('Change company e-mail address') }}</button>
                    </div>
                    <div class="row">
                        <button id="regenerateCompanyKeyButton" type=submit>{{ _('Regenerate company key') }}</button>
                    </div>
                    <div class="row">
                        <button id="viewCompanyKeyButton" type=submit>{{ _('View company key') }}</button>
                    </div>
                </div>
            </div>

        </div>

        <script src="{{ url_for('static', filename='script_user.js') }}"></script>
    </body>

</html>

{% endblock content %}