<!DOCTYPE html>
<html lang="en">
<head>
    <title>OpenSeadragon with Konva - Drawing Annotations</title>

    <!-- OpenSeadragon -->
    <script src="../static/openseadragon_5.0/openseadragon.min.js"></script>

    <!-- Konva.js -->
    <script src="../static/node_modules/konva/konva.min.js"></script>

    <style>
        #toolbar {
            margin-bottom:10px;
        }
        
          #viewer {
            top: 80px;
            left: 20px;
            width: 800px;
            height: 600px;
            position: absolute; /* Make sure it's positioned on top of #viewer */
            border: 1px solid black;
          }
          
          #viewer_mask  {
            position: absolute; /* Make sure it's positioned on top of #viewer */
            top: 80px;
            left: 20px;
            width: 800px;
            height: 600px;
            border: 1px solid black;
          pointer-events: none; /* Ensure it doesn't block interaction with the OSD viewer */
        }
          #viewer_konva  {
            position: absolute; /* Make sure it's positioned on top of #viewer */
            top: 80px;
            left: 20px;
            width: 800px;
            height: 600px;
            border: 1px solid black;
          pointer-events: none; /* Ensure it doesn't block interaction with the OSD viewer */
        }
        .openseadragon-canvas {
            outline:none; 
            background-color:#f4f4f4 !important;
            border-radius:3px;
            position: absolute;
        }

        .controls {
            position: relative;
            margin-top: 70px;
        }

        button {
            margin-right: 10px;
        }

        .annotation-tools {
            position: absolute;
            top: 10px;
            left: 175px;
            z-index: 1000;
            display: flex;
            gap: 10px;
        }

        .tool-btn {
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            cursor: pointer;
            font-family: Arial, sans-serif;
            font-size: 14px;
            transition: background-color 0.3s;
        }

        .tool-btn:hover {
            background-color: #0056b3;
          }

        .tool-btn.active {
            background-color: #0056b3;
        }

    </style>
</head>
<body>
  
    <!-- Annotation Tool Buttons -->
    <div class="annotation-tools">
        <button id="polygon-btn" class="tool-btn active">Polygon</button>
        <button id="rectangle-btn" class="tool-btn">Rectangle</button>
        <button id="ellipse-btn" class="tool-btn">Ellipse</button>
    </div>

    <div id="viewer"></div>
    <div id="viewer_konva"></div>
    <div class = "row">
      <div class="controls">
          <button id="bgButton">Background</button>
          <button id="fgButton">aggregate</button>
          <button id="asphaltButton">Asphalt</button>
        </div>
    </div>  

    <script type = "module">
        import base64toBlob from '../static/utils.js';

        let pointHistory = [];
        let waitingForApproval = false;
        
        // allocate the urls for the masks bg, aggregate, and asphalt
        let mask_bg = null;
        let mask_aggregate = null;
        let mask_asphalt = null;
        let displayed_mask = null;

        const staticUrl = new URL("{{ url_for('static', filename='def_profile_picture.jpg') }}", window.location.href).href;        
       // const staticUrl = new URL("{{ url_for('static', filename='def_profile_picture.jpg') }}");

        // Initialize OpenSeadragon viewer
        const viewer = OpenSeadragon({
            id: "viewer",
            tileSize: 256,
            minZoomLevel: 1,
            maxZoomLevel: 8,
            zoomInButton: "zoom-in",
            zoomOutButton: "zoom-out",
            homeButton: "home",
            rotateLeftButton: "rotate-left",
            rotateRightButton: "rotate-right",
            showNavigator: true,
            animationTime: 0.2,
            preserveViewport: true,
            tileSources: {
                type: 'image',
                url: staticUrl
              },
              gestureSettingsMouse: {
                scrollToZoom: true,
                clickToZoom: false,
              },
        });
        /*
        const viewerMask = document.createElement('canvas');
        viewerMask.id = 'viewerMaskCanvas';
        viewerMask.width = viewer.container.clientWidth;
        viewerMask.height = viewer.container.clientHeight;
        document.getElementById('viewer_mask').appendChild(viewerMask);

        const maskContext = viewerMask.getContext('2d');
        const maskImage = new Image();
        // maskImage.src = mask_bg;
        maskImage.onload = function() {
            maskContext.drawImage(maskImage, 0, 0, viewerMask.width, viewerMask.height);
        }; */
        

        // Wait for the OpenSeadragon viewer to fully open the image
          viewer.addHandler('open', function() {
            // Get the image dimensions from the OpenSeadragon world
            const tiledImage = viewer.world.getItemAt(0); // Assuming only one image
            const imageWidth = tiledImage.getContentSize().x; // Image width in pixels
            const imageHeight = tiledImage.getContentSize().y; // Image height in pixels

            // Now set the viewer container to match the image dimensions
            const viewerElement = document.getElementById('viewer');
            viewerElement.style.width = imageWidth + 'px';
            viewerElement.style.height = imageHeight + 'px';

            // Optionally resize the Konva container to match the viewer
            const konvaContainer = document.getElementById('viewer_konva');
            konvaContainer.style.width = imageWidth + 'px';
            konvaContainer.style.height = imageHeight + 'px';

            // Adjust Konva stage size accordingly
            konvaStage.width(imageWidth);
            konvaStage.height(imageHeight);
            konvaLayer.batchDraw();
          });



        // Initialize Konva.js overlay
        let konvaStage = new Konva.Stage({
          container: 'viewer_konva',
          width: viewer.container.clientWidth,
          height: viewer.container.clientHeight,
          draggable: false,
          backgroundColor: 'transparent'
        });
        let isDrawing = false;
        let konvaLayer = new Konva.Layer();
        konvaStage.add(konvaLayer);
        let konvaLayerMaskBg = new Konva.Layer();
        let konvaLayerMaskAsphalt = new Konva.Layer();
        let konvaLayerMaskAggregate = new Konva.Layer();
        
        const imageMaskBg = new Image();
        const imageMaskAsphalt = new Image();
        const imageMaskAggregate = new Image();
                
        const labelSettings = {
          background: { stroke: 'green', fill: 'rgba(0,255,0,0.2)', strokeWidth: 2 },
          aggregate: { stroke: 'blue', fill: 'rgba(0,0,255,0.2)', strokeWidth: 2 },
          asphalt: { stroke: 'red', fill: 'rgba(255,0,0,0.2)', strokeWidth: 2 } 
        };
        function setMaskFilter (kl, img, rgba) {
          let konvaImage= new Konva.Image({
            x: 0,
            y: 0,
            image: img,
            width: document.getElementById('viewer').clientWidth,
            height: document.getElementById('viewer').clientHeight
          });
          konvaImage.cache();
          konvaImage.filters([Konva.Filters.RGBA]);
          konvaImage.red(rgba[0]);
          konvaImage.green(rgba[1]);
          konvaImage.blue(rgba[2]);
          konvaImage.alpha(rgba[3]);
          
          konvaStage.add(kl);
          kl.destroyChildren();
          kl.add(konvaImage);

        }

        imageMaskBg.onload = function() {
          //const rgba = labelSettings.background.fill.match(/\d+/g).map(Number);
          let rgba = labelSettings.background.fill.match(/[\d.]+/g).map(Number);
          rgba[3] = 1;
          console.log(rgba);
          setMaskFilter(konvaLayerMaskBg, imageMaskBg, rgba);
        };
        imageMaskAsphalt.onload = function() {
          let rgba = labelSettings.asphalt.fill.match(/[\d.]+/g).map(Number);
          rgba[3] = 1;
          console.log(rgba);
          setMaskFilter(konvaLayerMaskAsphalt, imageMaskAsphalt, rgba);
        };
        imageMaskAggregate.onload = function() {
          let rgba = labelSettings.aggregate.fill.match(/[\d.]+/g).map(Number);
          rgba[3] = 1;
          console.log(rgba);
          setMaskFilter(konvaLayerMaskAggregate,imageMaskAggregate, rgba);
        };
        
        
        
        // Draw polygons, rectangles, ellipses based on active tool
        let activeTool = 'polygon';  // Default tool
        let activeLabel = 'background';
        let startPoint = null;  // Track the start point of the shape
        let currentShape = null;
        initializeMask();

          
          function flattenPoints(points) {
            return points.map(point => {
              return [point.x, point.y];
            }).flat();
          }

          // Helper to create and draw shapes
          function drawShape(points) {
            if (waitingForApproval) {
              return;
            }
            let shape;
            
            points = flattenPoints(points);
            
            switch (activeTool) {
              case 'polygon':
              shape = new Konva.Line({
                points: points,
                closed: true,
                fill: labelSettings[activeLabel].fill,
                stroke: labelSettings[activeLabel].stroke,
                strokeWidth: labelSettings[activeLabel].strokeWidth,
                lineJoin: 'round',
                draggable: true
              });
              break;
              case 'rectangle':
                    const width = Math.abs(points[0] - points[2]);
                    const height = Math.abs(points[1] - points[3]);
                    const x = Math.min(points[0], points[2]);
                    const y = Math.min(points[1], points[3]);
                    shape = new Konva.Rect({
                        x: x,
                        y: y,
                        width: width,
                        height: height,
                        fill: labelSettings[activeLabel].fill,
                        stroke: labelSettings[activeLabel].stroke,
                        strokeWidth: labelSettings[activeLabel].strokeWidth,
                        draggable: true
                        });
                    break;
                case 'ellipse':
                    if (points.length < 4) {
                      return;
                    }
                    let x_center = (points[0]+points[2])/2;
                    let y_center = (points[1]+points[3])/2;
                    let x_radius = Math.abs(points[0] - points[2])/2;
                    let y_radius = Math.abs(points[1] - points[3])/2;
                    if (points.length==6) {
                      y_radius = Math.abs(y_center - points[5]);
                    }
                      shape = new Konva.Ellipse({
                        x: x_center,
                        y: y_center,
                        radius: {
                          x: x_radius,
                          y: y_radius,
                          },
                        fill: labelSettings[activeLabel].fill,
                        stroke: labelSettings[activeLabel].stroke,
                        strokeWidth: labelSettings[activeLabel].strokeWidth,
                        draggable: true
                      });
                    break;
                    }
                    
                    konvaLayer.add(shape);
                    konvaLayer.draw();
                    return shape;
        }

        function getImagePoint(position) {
          const viewportPoint = viewer.viewport.pointFromPixel(position);
          return viewer.viewport.viewportToImageCoordinates(viewportPoint);
        }

        function cancelAnnotation() {
          pointHistory = [];
          setTimeout(() => {
            konvaLayer.destroyChildren();
          }, 100);
        }

        function initializeMask() {
          fetch('/get-corrected-mask', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({})
          }).then(response => response.json())
            .then(data => {
              console.log('Mask data:', data);
              mask_bg = URL.createObjectURL(base64toBlob(data.bg, 'image/png'));
              mask_aggregate = URL.createObjectURL(base64toBlob(data.aggregate, 'image/png'));
              mask_asphalt = URL.createObjectURL(base64toBlob(data.asphalt, 'image/png'));

              imageMaskBg.src = mask_bg;
              imageMaskAsphalt.src = mask_asphalt;
              imageMaskAggregate.src = mask_aggregate;
            })
            .catch(error => {
              console.error('Error initializing mask:', error);
            });
        }

        function saveAnnotation() {
          // Save the annotation data to a server
          const annotationData = {
            label: activeLabel,
            shape: {
              type: activeTool,
              points: flattenPoints(pointHistory)
            }
          };

          fetch('/save-annotation', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(annotationData)
          }).then(response => response.json())
            .then(data => {
              mask_bg = URL.createObjectURL(base64toBlob(data.bg, 'image/png'));
              mask_aggregate = URL.createObjectURL(base64toBlob(data.aggregate, 'image/png'));
              mask_asphalt = URL.createObjectURL(base64toBlob(data.asphalt, 'image/png'));
              
              imageMaskBg.src = mask_bg;
              imageMaskAsphalt.src = mask_asphalt;
              imageMaskAggregate.src = mask_aggregate;
              
              /*
              let canvas = document.getElementById('viewerMaskCanvas');
              image.onload = function() {
                console.log('Image loaded:', image);
                canvas.width = image.width;
                canvas.height = image.height;
                canvas.getContext('2d').drawImage(image, 0, 0);
              };
              console.log(mask_bg);
              image.src = mask_aggregate;
              */

              console.log('Annotation saved:', data);
            })
            .catch(error => {
              console.error('Error saving annotation:', error);
            });

          // clean out the annotation
          pointHistory = [];
          setTimeout(() => {
            konvaLayer.destroyChildren();
          }, 200);
        }

        // Click event to handle shape drawing
        viewer.addHandler('canvas-click', function (event) {
          if (waitingForApproval) {
            return;
          }
          const imagePoint = getImagePoint(event.position);
          
          pointHistory.push({ x: imagePoint.x, y: imagePoint.y });
          if (pointHistory.length==1) {
            startPoint = pointHistory[0];
            isDrawing = true;
          }
          
          if (pointHistory.length > 1) {
            if (currentShape) {
              currentShape.destroy();
            }
            switch (activeTool) {
              case 'rectangle':
                  currentShape=drawShape(pointHistory);
                  startPoint = null;  // Reset after drawing
                  isDrawing = false; 
                  waitingForApproval = true;
                  break;
              case 'polygon':
                  currentShape=drawShape(pointHistory);
                  break;
              case 'ellipse':
                  if (pointHistory.length==3) {
                    currentShape=drawShape(pointHistory);
                    startPoint = null;  // Reset after drawing
                    isDrawing = false; 
                    waitingForApproval = true;
                    break;
                  }
              break;

            }
          }
        });

        // Handle Enter key to finish the shape
        document.addEventListener('keydown', function (event) {
          if (event.key === 'Enter' ) {
            if (waitingForApproval) {
              saveAnnotation();
              waitingForApproval = false;
            } else if (activeTool === 'polygon' && startPoint) {
              // Finish the polygon by connecting the last point to the first point
              konvaLayer.destroyChildren();
              pointHistory.push(startPoint);
              drawShape(pointHistory);
              startPoint = null;  // Reset after finishing the shape
              isDrawing = false;
              waitingForApproval = true;
            }
          }
          if (event.key === 'Escape') {
            // Cancel the current shape drawing
            currentShape.destroy();
            konvaLayer.batchDraw();
            startPoint = null;
            isDrawing = false;
            pointHistory = [];
            if (waitingForApproval) {
              cancelAnnotation();
              waitingForApproval = false;
            }
          }
        });

        // Button Click Handlers for Tool Switching
        document.getElementById('polygon-btn').addEventListener('click', function () {
            activeTool = 'polygon';
            updateActiveButton('polygon-btn');
        });

        document.getElementById('rectangle-btn').addEventListener('click', function () {
          activeTool = 'rectangle';
          updateActiveButton('rectangle-btn');
          });
          
          document.getElementById('ellipse-btn').addEventListener('click', function () {
            activeTool = 'ellipse';
            updateActiveButton('ellipse-btn');
            });
            
        document.getElementById('bgButton').addEventListener('click', () => {
        // Button Click Handlers for Labeling
            const currentSettings = labelSettings['background'];
            activeLabel = 'background';
            const activeStroke = currentSettings.stroke;
            const activeFill = currentSettings.fill;
        });

        document.getElementById('fgButton').addEventListener('click', () => {
            activeLabel = 'aggregate';
            });
            
        document.getElementById('asphaltButton').addEventListener('click', () => {
              activeLabel = 'asphalt';
        });

        // Helper to activate a tool
        function updateActiveButton(activeBtnId) {
          var buttons = document.querySelectorAll('.tool-btn');
          buttons.forEach(button => button.classList.remove('active'));
          document.getElementById(activeBtnId).classList.add('active');
          } 
 

      viewer.addHandler('viewport-change', function() {
        const zoom = viewer.viewport.getZoom();  // Get current zoom level from OpenSeadragon
      
        // Set scale for the Konva stage based on OpenSeadragon zoom level
        konvaStage.scale({ x: zoom, y: zoom });
      
        // Get the center of the OSD viewport (in viewport coordinates)
        const center = viewer.viewport.getCenter();
      
        // Convert OpenSeadragon center point (viewport coordinates) to Konva coordinates
        const imageCenter = viewer.viewport.viewportToImageCoordinates(center.x, center.y);
      
        // Adjust Konva stage position to match OSD viewport panning
        konvaStage.position({
          x: -imageCenter.x * zoom + konvaStage.width() / 2,
          y: -imageCenter.y * zoom + konvaStage.height() / 2
        });
      
        // Redraw the Konva layer efficiently after transformations
        konvaLayer.batchDraw();
      });

      // Trigger initial sync
      viewer.viewport.zoomTo(1);
      viewer.viewport.panTo(new OpenSeadragon.Point(0, 0));
      konvaStage.scale({ x: 1, y: 1 });
    

  function drawPreview(imagePoint) {    
    if (currentShape) {
      currentShape.destroy();
      konvaLayer.batchDraw();
    }
    const pointSuggestions = pointHistory.concat({ x: imagePoint.x, y: imagePoint.y });
    currentShape = drawShape(pointSuggestions);
  }

  // Event handler for starting to draw
  addEventListener('mousemove', function (e) {
    if (isDrawing) {
      const offset = viewer.container.getBoundingClientRect();
      const position = new OpenSeadragon.Point(e.clientX-offset.left, e.clientY-offset.top);
      const imagePoint = getImagePoint(position);
      drawPreview(imagePoint);
   }
  });

    </script>




</body>
</html>
