<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/vnd.icon" href="/static/favicon.ico">
    <title>{{ _('Navbar') }}</title>
  </head>

  <body>

    <nav class="navbar">
      {% if session.authenticated %}
      <div class="hamburger" id="hamburger">
        &#9776; <!-- ☰ -->
      </div>
      <div class="menu" id="menu">
        <ul class="menu" id="menu">
          <li><a href="/">{{ _('Current Experiment') }}</a></li>
          <!-- <li><a href="/queue">{{ _('Queue') }}</a></li> -->
          <li><a href="/experiments">{{ _('Experiment History') }}</a></li>
          {% if session.is_admin == True %}
          <li><a href="/employees">{{ _('Employees') }}</a></li>
          <li><a href="/company">{{ _('Company') }}</a></li>
          {% endif %}
        </ul>
      </div>
      <div class="antimenu" id="antimenu">
        <ul class="navbar-right">
          <!-- <li><a href="/user">{{ _('User') }}</a></li> -->
          <!-- <li><a href="/user">{{ _('User') }}</a></li> -->
          <li>
            {% include "user_nav_element.html" %}
          </li>
          <!-- <li><a href="/logout">{{ _('Logout') }}</a></li> -->
          <li>
            {% include "language_switcher.html" %}
          </li>
        </ul>
      </div>
      </ul>
      {% else %}
      <div class="hamburger" id="hamburger">
        &#9776; <!-- ☰ -->
      </div>
      <div class="menu" id="menu">
        <ul class="menu" id="menu">
          <li><a href="/home">{{ _('About') }}</a></li>
          <li><a href="/login">{{ _('Login') }}</a></li>
          <li><a href="/register">{{ _('Register') }}</a></li>
        </ul>
      </div>
      <div class="antimenu" id="antimenu">
        <ul class="navbar-right">
          <li>
            {% include "language_switcher.html" %}
          </li>
        </ul>
      </div>
      {% endif %}

      <!-- 🌐 Language Switcher -->
      <!-- <div class="language-switcher"> -->
      <!-- <a href="?lang=en" title="English">
      <img src="/static/language_icons/icon_en.png" alt="English">
    </a>
    <a href="?lang=cs" title="Česky">
      <img src="/static/language_icons/icon_cs.png" alt="Česky">
    </a>
  </div> -->


    </nav>

  </body>
  <script src="static/script_navbar.js"></script>

</html>