<!-- TODO CONSIDER REMOVING THIS FILE -->

<!-- REMBG_manual -->
<!DOCTYPE html>


{% extends "base.html" %}
{% block content %}


<html>

    <head>
        <title>REMBG_manual</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" type="image/vnd.icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>
        <div class="container">
            <!-- First Row: Image Upload -->
            <div class="row">
                <canvas id="backgroundCanvas"></canvas>
            </div>

            <div class="row">
                <div class="column">
                    <img id="defaultImage" src="{{ url_for('static', filename='logo.png') }}" alt="Default Image">
                    <div class="img-magnifier-container">
                        <img id="uploadedImage" style="display:none;">
                    </div>
                </div>
            </div>


            <div>
                <button type="submit">Ok</button>
            </div>
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>

</html>

{% endblock content %}