<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}


<html>
    <head>
        <title>{{ _('User Information') }}</title>
            <link rel="stylesheet" href="/static/styles.css">
        <link rel="icon" type="image/vnd.icon" href="/static/favicon.ico">
    </head> 
    <body>
        <!-- First Row: Image Upload -->
        <div class="colorbar">
            <h2>{{ _('User Information') }}</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="column">
                    <img src="/static/def_profile_picture.jpg" alt="Profile Picture" width="200" height="200" >
                </div>
                <div class="column">            
                        <h3>{{ _('Username: ') }}{{ dynamic_content.username }}</h3>
                        <h3>{{ _('First Name: ') }}{{ dynamic_content.first_name }}</h3>
                        <h3>{{ _('Last Name: ') }}{{ dynamic_content.last_name }}</h3>
                        <h3>{{ _('Company: ') }}{{ dynamic_content.company_name }}</h3>
                        <h3>{{ _('Email: ') }}{{ dynamic_content.e_mail }}</h3>
                </div>
                <div class="column">        
                    <div class="row">
                        <button id="editPersonalInformation" type=submit >{{ _('Edit personal information') }}</button>
                    </div>
                    <div class="row">
                        <button id="changeEmailButton" type=submit >{{ _('Change e-mail address') }}</button>
                    </div>
                    <div class="row">
                        <button id="changePasswordButton" type=submit >{{ _('Change password') }}</button>
                    </div>
                </div>
            </div>

    </div>
    
    <script src="/static/script_user.js"></script>
</body>
</html>

{% endblock content %}